* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #333, #673ab7);
}

.App {
  margin: 40px auto;
  height: 88vh;
  max-width: 500px;
  background: linear-gradient(45deg, #e0e0e0, #607d8b);
  border-radius: 8px;
  box-shadow: 1px 1px 14px 4px #7e57c2;
  text-align: center;
}
